<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702584515843-mt6584jc65q4e02qq6snip7qi12fpe2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702584515843-mt6584jc65q4e02qq6snip7qi12fpe2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAoDQGs57qJWVmOITqtWI4PJIaTX2fW3uo</string>
	<key>GCM_SENDER_ID</key>
	<string>702584515843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onmindlab.inschoolz</string>
	<key>PROJECT_ID</key>
	<string>inschoolz</string>
	<key>STORAGE_BUCKET</key>
	<string>inschoolz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702584515843:ios:64ee5674c8a9d1ac714d36</string>
</dict>
</plist>